<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>404 - Marcos López C.</title>

	<link rel="shortcut icon" type="image/png" href="/favicon.png" />
	<link rel="stylesheet" type="text/css" href="/styles/style.css" />

	<%- partial("_scripts.ejs"); %>
</head>

<body class="error-page">
	<div class="container text-center">
		<h1><strong>404</strong> Not Found</h1>
		<p>Whoops. Looks like the page you requested can't be found.</p>
	</div>
</body>

</html>
