<li><a href="/articles/about.html">About</a></li>
<li><a href="/articles/programming.html">Programming</a></li>
<li><a href="/articles/music.html">Music</a></li>
<li><a href="/articles/photography.html">Photography</a></li>
