<%-
	(function() {
		const getBlogData = (folderName) => {
			const indexMetadata = public.blog[folderName]._data.index;
			const data = {};

			data.url = folderName;

			Object.keys(indexMetadata).forEach(element => {
				data[element] = indexMetadata[element];
			});

			return data;
		};

		const blogItems = Object.keys(public.blog)
			.filter(x => !x.startsWith("_"))
			.map(getBlogData)
			.filter(x => x && x.title && x.created);

		let content = "";

		const writeLine = function(value) {
			content += value + "\n";
		};

		blogItems
			.sort()
			.reverse()
			.forEach(item => {
				writeLine(`<div class="blog-entry">`);
				writeLine(`<div class="container">`);

				writeLine(`<h2 class="blog-title">${item.title}</h2>`);
				writeLine(`<p><small class="text-muted">`);
				writeLine(`Posted on ${partial("../_snippets/date", { date: item.created })}`);
				writeLine(`</small></p>`);
				writeLine(`<p>${item.meta.description}</p>`);
				writeLine(`<a href="${item.url}">Read more</a>`)

				writeLine("</div>");
				writeLine("</div>");
			});

		return content;
	}());
%>