<%-
	(() => {
		const getBlogData = (folderName) => {
			const indexMetadata = public.blog[folderName]._data.index;
			const data = {};

			data.url = folderName;

			Object.keys(indexMetadata).forEach(element => {
				data[element] = indexMetadata[element];
			});

			return data;
		};

		const blogItems = Object.keys(public.blog)
			.filter(x => !x.startsWith("_"))
			.map(getBlogData)
			.filter(x => x && x.title && x.created);

		const content = [];

		const writeLine = (value) => {
			content.push(value);
			content.push("\n");
		};

		blogItems
			.sort()
			.reverse()
			.forEach(item => {
				writeLine(`<div class="container">`);
				writeLine(`<div class="blog-entry">`);

				writeLine(`<h2 class="blog-title">${item.title}</h2>`);
				writeLine(`<p><small class="text-muted">`);
				writeLine(`Posted on <time datetime="${item.created}">${partial("../_snippets/date", { date: item.created })}</time>`);
				writeLine(`</small></p>`);
				writeLine(`<p>${item.meta.description}</p>`);
				writeLine(`<a href="${item.url}">Read more</a>`)

				writeLine("</div>");
				writeLine("<hr>")
				writeLine("</div>");
			});

		return content.join("");
	})();
%>