@import "_scss/fontawesome.scss";
@import "_scss/bootstrap.scss";

body {
	min-width: 320px;
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

@import "_scss/fonts.scss";
@import "_scss/hero.scss";
@import "_scss/footer.scss";
@import "_scss/section-wrapper.scss";
@import "_scss/badge-list.scss";
@import "_scss/work-experience.scss";
@import "_scss/blog.scss";