<%-
	(function(){
		let blogItems = Object.keys(public.blog)
			.filter(x => !x.startsWith("_"))
			.map(item => public.blog[item]._data.index)
			.filter(x => x.title && x.created);

		let blogItemsByYear = {};

		let toDate = function(value) {
			return new Date(value.replace(/-/g, "/"));
		};

		blogItems.forEach(x => {
			let year = toDate(x.created).getFullYear();

			let list = blogItemsByYear[year];

			if (list) {
				list.push(x);
			}
			else {
				blogItemsByYear[year] = [x];
			}
		});

		let content = "";

		let writeLine = function(value) {
			content += value + "\n";
		};

		let formatDate = function(value) {
			let date = new Date(value.replace(/-/g, "/"));

			var month = [
				"Jan",
				"Feb",
				"Mar",
				"Apr",
				"May",
				"Jun",
				"Jul",
				"Aug",
				"Sep",
				"Oct",
				"Nov",
				"Dec"
			];

			return `${month[date.getMonth()]} ${date.getDate()}`;
		};

		Object
			.keys(blogItemsByYear)
			.sort()
			.reverse()
			.forEach(year => {
				writeLine(`<h2>${year}</h2>`);

				writeLine("<ul>");

				blogItemsByYear[year].forEach(item => {
					writeLine("<li>");
					writeLine(`<p><a href="${item.created}">${formatDate(item.created)} - ${item.title}</a></p>`);
					writeLine("</li>");
				});

				writeLine("</ul>");
			});

		return content;
	}());
%>