body.blog {
	div.blog-content {
		& > p:first-of-type > img {
			width: 100%;
		}

		h1, h2, h3, h4, h5, h6 {
			margin-top: 3rem;
		}
	}

	.blog-list {
		div.blog-entry {
			@extend .py-3;

			&:nth-child(odd) {
				background-color: lighten($body-bg, $amount: 5%);
			}
		}
	}
}