<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Marcos López C.</title>

		<meta name="title" content="Marcos López C.">
		<meta name="description" content=" A software developer by day, musician by night, photographer on the weekends.">

		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.marcoslopezc.com/">
		<meta property="og:title" content="Marcos López C.">
		<meta property="og:description" content="A software developer by day, musician by night, photographer on the weekends.">
		<meta property="og:image" content="https://www.marcoslopezc.com/images/thumbnail.png">

		<%- partial("_head_import"); %>
	</head>
	<body>
		<%- yield %>
	</body>
</html>
