<%- partial("_header"); _%>

<main class="container my-5">
	<article>
		<div class="row">
			<h1 class="display-1">Contact</h1>
			<p>Have a question or just want to say hi? Drop me a line using any of the contact methods below. I'll get back to you as soon as I can. Thanks you!</p>
		</div>
		<div class="row mt-3">
			<div class="col-auto">
				<a class="p-2 col btn btn-outline-primary" href="https://www.linkedin.com/in/MarcosLopezC/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
			</div>
			<div class="col-auto">
				<a class="p-2 col btn btn-outline-primary" href="mailto:MarcosLopezC@live.com"><i class="fa fa-envelope"></i> Email</a>
			</div>
		</div>
	</article>
</main>

<%- partial("_footer"); _%>