<aside class="hero">
	<div class="pattern">
		<header>
			<nav class="navbar navbar-expand-sm">
				<div class="container">
					<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-center">
						<ul class="navbar-nav">
							<%- partial("_snippets/navItems"); _%>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div class="container fs-2">
			<div class="row col-cols">
				<div class="text-center text-lg-start col-lg-8 align-self-center hero-headline">
					<h1 class="display-1 fw-bolder my-3">
						<span class="text-nowrap">Marcos López C.</span>
					</h1>
					<p>
						<span class="text-nowrap">A software developer by day,</span>
						<span class="text-nowrap">musician by night,</span>
						<span class="text-nowrap">photographer on the weekends</span>
					</p>
				</div>
				<div class="text-lg-end col-lg-4 align-self-end">
					<picture>
						<source srcset="/images/profile.webp">
						<img src="/images/profile.png" alt="Marcos López C." class="img-fluid">
					</picture>
				</div>
			</div>
		</div>
	</div>
</aside>

<div class="section-wrapper">
	<section class="container my-5">
		<div class="row">
			<h2 class="display-4">About</h2>
		</div>
		<div class="row">
			<%- partial("_about"); _%>
		</div>
	</section>
</div>

<div class="section-wrapper">
	<section class="container my-5">
		<div class="row">
			<h2 class="display-4">Experience</h2>
		</div>
		<div class="work-experience">
			<div>Mar 2023 - Present</div>
			<div>
				<h3>Software Engineer 3</h3>
				<p>Simpli.fi &bull; Full-time</p>
				<div class="row">
					<ul class="badge-list">
						<li>Elixir</li>
						<li>C</li>
						<li>C++</li>
						<li>MacOS</li>
						<li>ARM64</li>
						<li>Linux</li>
						<li>Docker</li>
						<li>PostgreSQL</li>
						<li>Vertica</li>
						<li>Kafka</li>
						<li>RabbitMQ</li>
						<li>Visual Code</li>
						<li>Datadog</li>
						<li>Travis CI</li>
						<li>Git</li>
						<li>GitHub</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="work-experience">
			<div>Apr 2018 - Mar 2023</div>
			<div>
				<h3>Software Engineer</h3>
				<p>Bidtellect &bull; Full-time</p>
				<div class="row">
					<ul class="badge-list">
						<li>C#</li>
						<li>T-SQL</li>
						<li>Javascript</li>
						<li>Windows</li>
						<li>Linux</li>
						<li>SQL Server</li>
						<li>Vertica</li>
						<li>HTML5</li>
						<li>CSS</li>
						<li>Sass</li>
						<li>jQuery</li>
						<li>AngularJS</li>
						<li>Visual Studio</li>
						<li>Visual Code</li>
						<li>RabbitMQ</li>
						<li>Datadog</li>
						<li>Loggly</li>
						<li>TeamCity</li>
						<li>Git</li>
						<li>BitBucket</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="work-experience">
			<div>Mar 2015 - Apr 2018</div>
			<div>
				<h3>Software Developer</h3>
				<p>Cendyn &bull; Full-time</p>
				<div class="row">
					<ul class="badge-list">
						<li>C#</li>
						<li>T-SQL</li>
						<li>Javascript</li>
						<li>Windows</li>
						<li>SQL Server</li>
						<li>HTML</li>
						<li>CSS</li>
						<li>Less</li>
						<li>jQuery</li>
						<li>Visual Studio</li>
						<li>SVN</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="work-experience">
			<div>Jan 2013 - Mar 2015</div>
			<div>
				<h3>Programmer</h3>
				<p>Mocsie Systems &bull; Freelance</p>
				<div class="row">
					<ul class="badge-list">
						<li>C#</li>
						<li>T-SQL</li>
						<li>Windows</li>
						<li>SQL Server</li>
						<li>HTML</li>
						<li>CSS</li>
						<li>Visual Studio</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="section-wrapper">
	<section class="container my-5">
		<div class="row">
			<h2 class="display-4">Skills</h2>
		</div>
		<div class="row">
			<p>Languages</p>
			<ul class="badge-list">
				<li>C#</li>
				<li>JavaScript</li>
				<li>C</li>
				<li>C++</li>
				<li>Elixir</li>
				<li>Python</li>
				<li>SQL</li>
				<li>Transact-SQL</li>
				<li>PL/pgSQL</li>
				<li>PHP</li>
				<li>Java</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Sass</li>
				<li>Visual Basic</li>
				<li>Assembly</li>
			</ul>
		</div>

		<div class="row">
			<p>Database Technologies</p>
			<ul class="badge-list">
				<li>Microsoft SQL Server</li>
				<li>PostgreSQL</li>
				<li>Vertica</li>
				<li>MySQL</li>
				<li>Oracle Database</li>
			</ul>
		</div>

		<div class="row">
			<p>Distributed Streaming Systems</p>
			<ul class="badge-list">
				<li>Kafka</li>
				<li>RabbitMQ</li>
				<li>Redis</li>
			</ul>
		</div>

		<div class="row">
			<p>Version Control Systems</p>
			<ul class="badge-list">
				<li>Git</li>
				<li>SVN</li>
				<li>Bazaar</li>
				<li>CVS</li>
			</ul>
		</div>

		<div class="row">
			<p>Cloud Platforms</p>
			<ul class="badge-list">
				<li>Oracle Cloud</li>
				<li>AWS</li>
			</ul>
		</div>

		<div class="row">
			<p>Other Skills</p>
			<ul class="badge-list">
				<li>Embedded Systems</li>
				<li>Raspberry Pi</li>
				<li>AVR Microcontrollers</li>
				<li>Electronics</li>
				<li>Formal Language Design</li>
				<li>Unit Testing</li>
				<li>Integration Testing</li>
				<li>Cryptography</li>
				<li>TCP/IP</li>
				<li>AI</li>
				<li>Computer Graphics</li>
				<li>3D Modeling</li>
				<li>NGINX</li>
			</ul>
		</div>
	</section>
</div>

<div class="section-wrapper">
	<section class="container my-5">
		<div class="row">
			<h2 class="display-4">Interests</h2>
		</div>
		<div class="row">
			<ul class="badge-list">
				<li>Photography</li>
				<li>Programming</li>
				<li>Open Source</li>
				<li>UI/UX</li>
				<li>Web Design</li>
				<li>Typography</li>
				<li>Graphic Design</li>
				<li>Artificial Intelligence</li>
				<li>Reading</li>
				<li>Music</li>
				<li>Piano</li>
				<li>Rubik's Cubes</li>
				<li>Aviation</li>
				<li>Flight Simulator</li>
				<li>Gaming</li>
				<li>Chess</li>
				<li>Finance</li>
				<li>Technology</li>
				<li>Travel</li>
				<li>Locksport</li>
				<li>RC Hobby</li>
			</ul>
		</div>
	</section>
</div>

<%- partial("_snippets/footer") %>
