body.cover-page {
	$color: #efefef;
	$background-color: #282c2e;
	$shadow-color: rgba(0, 0, 0, 0.4);

	background: $background-color url("/images/cover_page.webp") no-repeat center center fixed;
	background-color: $background-color;
	background-size: cover;

	color: $color;
	text-align: center;

	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	div.container {
		@mixin text-shadow {
			text-shadow: $shadow-color 0 0 5px;
		}

		h1 {
			@include text-shadow();

			font-weight: 600;
			margin-bottom: 2rem;

			@include media-breakpoint-up(lg) {
				font-size: 5rem;
			}
		}

		p.catchphrase {
			@include text-shadow();

			font-weight: 200;
			margin-bottom: 4rem;

			@include media-breakpoint-up(lg) {
				font-size: 2rem;
			}
		}

		a {
			color: $color;
			text-decoration: none;
		}
	}

	nav > ul {
		margin-top: 3rem;
		margin-bottom: 3rem;
		padding: 0;
		list-style-type: none;

		li {
			display: inline;

			a {
				display: inline-block;

				font-weight: 600;
				line-height: 3rem;

				min-width: 150px;
				padding-bottom: 0.1rem;
				margin: 0.5rem;
				border: 2px solid $color;
				border-radius: 4px;

				transition:
					color 200ms,
					background-color 200ms,
					text-shadow 200ms;

				&:hover,
				&:focus,
				&:active {
					color: $background-color;
					background-color: $color;
					box-shadow: $color 0 0 5px;
				}
			}
		}
	}

	p.social-icon-container {
		@include media-breakpoint-up(lg) {
			font-size: 1.5rem;
		}

		a {
			display: inline-block;
			text-align: center;

			@mixin transition {
				transition: color, 200ms;
			}
	
			i.fa-stack-2x {
				@include transition();
				color: $color;
			}
			
			i.fa-stack-1x {
				@include transition();
				color: $background-color;
			}
	
			&:hover,
			&:focus,
			&:active {
				i.fa-stack-2x {
					color: $background-color;
					text-shadow: adjust-color($color, $lightness: -30%) 0 0 10px;
				}
	
				i.fa-stack-1x {
					color: $color;
				}
			}
		}
	}
};