@import "_bootstrap.scss";

@import "_font-awesome/fontawesome.scss";
@import "_font-awesome/solid.scss";
@import "_font-awesome/brands.scss";

@import "_cover-page.scss";
@import "_article-page.scss";

body {
	min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

span.text-atom {
	display: inline-block;
}

pre {
	overflow-x: auto;

	code {
		overflow-wrap: normal;
		white-space: pre;
	}
}

code {
	border-radius: 3px;
	background-color: #f6f6f6;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

iframe.embed-responsive-item {
	padding-bottom: 1em;
}
