<div class="about-article-content">
	<div class="content-header">
		<h1>About me</h1>
	</div>

	<div class="content-image">
		<img alt="Marcos López Castellanos" src="/images/profile.jpg" />
	</div>

	<div class="content-text">

<%- partial("_about.md"); %>

	</div>
</div>