<h1>Photography</h1>

<p>Here are some of my favorite pictures.</p>

<%
	var pictureUrls = [
		"/images/picture1.jpg",
		"/images/picture2.jpg",
		"/images/picture3.jpg",
		"/images/picture4.jpg",
		"/images/picture5.jpg",
		"/images/picture6.jpg"
	];
%>

<div class="image-list-container">
<% pictureUrls.forEach(function(url) { %>

	<div class="image-container">
		<a href="<%= url %>" target="_blank">
			<img class="img-responsive img-thumbnail" alt="Picture" src="<%= url %>" />
		</a>
	</div>

<% }) %>
</div>

<div class="text-center">
	<p>
		<a class="btn btn-default" href="https://www.flickr.com/photos/marcoslopezcastellanos/">More</a>
	</p>
</div>
