<footer>
<div class="container">
	<div class="row gy-3">
		<div class="col-12 col-sm-6 text-center text-sm-end">
			<ul class="social">
				<li>
					<a rel="noopener noreferrer nofollow" target="_blank" href="https://www.linkedin.com/in/MarcosLopezC/" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
				</li>
				<li>
					<a rel="noopener noreferrer nofollow" target="_blank" href="https://github.com/MarcosLopezC/" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
				</li>
				<li>
					<a rel="noopener noreferrer nofollow" target="_blank" href="https://www.youtube.com/channel/UCbZDeXkKlq-qfjMZgBdoBgA" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
				</li>
				<li>
					<a rel="noopener noreferrer nofollow" target="_blank" href="https://www.youtube.com/user/MarcosLopezMusic" aria-label="Music"><i class="fa-solid fa-music"></i></a>
				</li>
				<li>
					<a rel="noopener noreferrer nofollow" target="_blank" href="https://www.flickr.com/photos/MarcosLopezCastellanos/" aria-label="Flickr"><i class="fa-brands fa-flickr"></i></a>
				</li>
				<li>
					<a href="mailto:contact@marcoslopezc.com" aria-label="Email"><i class="fa fa-envelope"></i></a>
				</li>
			</ul>
		</div>
		<div class="col-12 col-sm-6 text-center text-sm-start order-sm-first">
			<span class="text-muted fw-light fs-6">&copy; 2024 Marcos López C.</span>
		</div>
	</div>
</div>
</footer>