<header>
<nav class="navbar navbar-expand-sm">
	<div class="container">
		<a class="navbar-brand fw-semibold" href="/">Marcos López C.</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav">
				<%- partial("navItems"); _%>
			</ul>
		</div>
	</div>
</nav>
</header>